.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.about-subsection {
  font-family: Georgia, sans-serif;
}

.buffer-header {
  background-color: #faf0e6;
}

.about-section {
  max-height: 400px;
}

.about-photo-container {
  padding-bottom: 66.66666%
}